<ul class="sidebar-nav list-group">
    {% if user.is_authenticated %}

    <li class="list-group-item">User: {{ user.get_username }}</li>
    {% if request.path == "/" %}
    <li class="list-group-item"><a href="{% url 'includes:upload' %}">Upload files</a></li>
    {% else %}
    <li class="list-group-item"><a href="{% url 'includes:index' %}">Main</a></li>
    {% endif %}
    <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a></li>


    {% else %}

    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
</ul>